header {
  margin: auto;
}

header h3 {
  padding: 10px;
  margin-bottom: 20px;
}

.header_title {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.new_post {
  display: flex;
  align-items: center;
}

.newbtn {
  border: 2px solid #111111;
  border-radius: 20px;
  padding: 5px 15px;
  font-weight: bold;
  cursor: pointer;
}

.newbtn:hover {
  background-color: #111111;
  color: white;
  cursor: pointer;
}
